.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.services{
    margin-bottom: 72px;
    display: flex;
}
.services h3{
    color: #fff;
    background: #314559;
    padding: 14px 24px;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    border-left: 10px solid #18222b;
    margin-bottom: 68px;
}
.block2{
    width: 16.66%;
}
.block2 i{
    font-size: 45px;
    color: #bd2c30;
    padding-left: 110px;
}
.block2 h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #bd2c30;
    padding-right: 24px;
    margin-bottom: 21px;
}
.block2 p{
    font-size: 12px;
    font-weight: 600;
    color: #212121;
    padding-left: 3px;
    line-height: 18px;
}