.header{
    height: 120px;
    background: gray;
    display: flex;
    justify-content: space-around;
}
.item{
    margin-top: 30px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid red;
    background: black;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 8px;

}
