.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.f-block{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 6px;
    margin-bottom: 43px;
}
.about-us h3{
    color: #fff;
    background: #d34346;
    padding: 14px 24px;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    border-left: 10px solid #c62f31;
    margin-bottom: 15px;
}
.block{
    width: 33.33%;
}
.block h4{
    color: #2c3e50;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 27px;
}
.we-are p{
    color: #2d2d2d;
    line-height: 22px;
    padding-right: 23px;
    margin-left: -3px;
}
.why-us h4{
    padding-left: 10px;
    margin-bottom: 30px;
}
.why-us ul{
    list-style: none;
    margin-left: 10px;
}
.why-us li{
    font-size: 14px;
    font-weight: 500;
    color: #767575;
    padding-right: 8px;
    position: relative;
    padding-bottom: 8px;
}
.why-us li::before{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(../../../images/arrow.png) 8px 5px no-repeat;
    top: -4px;
    left: -33px;
}
h1{
    margin-left: 50px;
}